article
	width 68%
	height auto
	padding 1%
	float left
.news
	width 100%
.content-new
	width 31%
	padding 0 2% 3% 0
	float left
	min-height 400px
.content-new h4
	color black
	margin 10px 0