.search-form
    width 66%
    padding 2%
    float right
input
	outline 0px
#search
	width 100%
	border-radius 10px
	border 1px solid #909090
	padding 5px
	float left
#btn-search
	margin-left 20px
	padding 5px
	border-radius 5px
	display none
#btn-search.in
	display inline-block