doctype html
html(lang="es")
    head
        title Finder challenge
        meta(charset="utf-8")
        meta(viewport="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/css?family=Proxima+Nova", rel="stylesheet", type="text/css")
        link(href="/vendor/awesomplete/awesomplete.css", rel="stylesheet")
        link(href="/styles/index.css", rel="stylesheet")

    body
        .app
            header
                .brand
                    img#brand-image(src="/assets/brand.png" width="60%")
                include blocks/search-form
            aside.filters
                h3 Lorem ipsum
                ul
                   li 
                    a(href="#") Lorem1
                   li 
                    a(href="#") Lorem2
                   li 
                    a(href="#") Lorem3
                h3 Lorem ipsum
                ul
                   li 
                    a(href="#") Lorem1
                   li 
                    a(href="#") Lorem2
                   li 
                    a(href="#") Lorem3
                h3 Lorem ipsum
                ul
                   li 
                    a(href="#") Lorem1
                   li 
                    a(href="#") Lorem2
                   li 
                    a(href="#") Lorem3
            article.content
                section.news
            footer

        //- third party libraries
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="/vendor/underscore/underscore-min.js")
        script(src="/vendor/awesomplete/awesomplete.js")
        //script(src="/vendor/awesomplete/index.js")

        //- app scripts self
        script(src="/scripts/global.js")
        script(src="/scripts/search-form.js")
        script(src="/scripts/complete.js")
        script(src="/scripts/app.js")